<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gogreen.greenmachine" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <!-- Prevents apps from displaying on devices without OpenGL ES Version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".main.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".main.login.DispatchActivity"
            android:noHistory="true" >
        </activity>
        <activity android:name=".main.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.login.SignUpActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".main.WelcomeActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".main.WelcomeActivity">
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".main.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".main.navigation.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.match.DrivingActivity"
            android:label="@string/title_activity_driving"
            android:parentActivityName=".main.MainActivity" >
        </activity>
        <activity
            android:name=".main.match.RidingActivity"
            android:label="@string/title_activity_riding"
            android:parentActivityName=".main.MainActivity" >
        </activity>
        <activity
            android:name=".main.badges.BadgeActivity"
            android:label="@string/title_activity_badge" >
        </activity>
        <activity
            android:name=".main.match.DriverMatchedActivity"
            android:label="@string/title_activity_driver_matched"
            android:launchMode="singleTop"
            android:parentActivityName=".main.match.DrivingHotspotSelectActivity" >
        </activity>
        <activity
            android:name=".main.match.RiderMatchedActivity"
            android:label="@string/title_activity_rider_matched"
            android:launchMode="singleTop"
            android:parentActivityName=".main.match.RidingHotspotSelectActivity" >
        </activity>
        <activity
            android:name=".main.profile.ProfileBasicInfoActivity"
            android:label="@string/title_activity_profile_basic_info"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.profile.ProfileDriverInfoActivity"
            android:label="@string/title_activity_profile_driver_info"
            android:parentActivityName=".main.profile.ProfileBasicInfoActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.profile.ProfileArriveByInfoActivity"
            android:label="@string/title_activity_profile_arrive_by_info"
            android:parentActivityName=".main.profile.ProfileDriverInfoActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.profile.ProfileHotspotInfoActivity"
            android:label="@string/title_activity_profile_hotspot_info"
            android:parentActivityName=".main.profile.ProfileArriveByInfoActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.profile.ProfileInitDispatchActivity"
            android:label="ProfileInitDispatchActivity" >
        </activity>
        <activity
            android:name=".main.match.DrivingHotspotSelectActivity"
            android:label="@string/title_activity_driving_hotspot_select"
            android:launchMode="singleTop"
            android:parentActivityName=".main.match.DrivingActivity" >
        </activity>
        <activity
            android:name=".main.match.RidingHotspotSelectActivity"
            android:label="@string/title_activity_rider_hotspot_select"
            android:launchMode="singleTop"
            android:parentActivityName=".main.match.RidingActivity">
        </activity>
        <activity
            android:name=".main.navigation.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".main.MainActivity">
        </activity>
    </application>

</manifest>
